.settings-title {
  padding-top: 20px;
  text-align: center;
}

.settings-content {
  padding: 16px;
  margin: auto;
}

@media only screen and (min-width: 900px) {
  .settings-content {
    width: 50%;
  }
}