
<div class="controls">
  <div class="left-controls">
    <mat-form-field color="accent" class="filter" appearance="standard">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" #filter>
    </mat-form-field>
    <mat-form-field class="column-selector" color="accent" appearance="standard">
      <mat-label>Displayed Columns</mat-label>
      <mat-select [(value)]="displayedColumns" multiple>
        <mat-option *ngFor="let column of columnList" [value]="column.value">{{column.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="right-controls">
    <mat-form-field color="accent" appearance="standard">
      <mat-label>Wallet ID</mat-label>
      <input [formControl]="createWalletId" matInput>
    </mat-form-field>
    <button mat-raised-button type="submit" class="new-wallet" color="accent"
            (click)="createWallet()" [disabled]="!this.createWalletId.value">
      New Wallet
    </button>
  </div>
</div>

<div class="table-container">
  <table mat-table matTableExporter [dataSource]="dataSource" matSort #exporter="matTableExporter">
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" 
        (click)="selectWallet(row.id)" [ngClass]="{'selected': row.id === selectedWallet.value}"></tr>

    <!-- Columns -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header=""> ID </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Name </th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>
    <ng-container matColumnDef="balance">
      <th mat-header-cell arrowPosition="before" *matHeaderCellDef mat-sort-header=""> Balance </th>
      <td mat-cell *matCellDef="let row"> {{row.balance | sat: false}} </td>
    </ng-container>
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Created </th>
      <td mat-cell *matCellDef="let row"> {{row.createdAt * 1000 | date}} </td>
    </ng-container>
    <ng-container matColumnDef="latestTransactionAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header=""> Last Transaction </th>
      <td mat-cell *matCellDef="let row"> {{row.latestTransactionAt * 1000 | date: 'yy/M/d h:mm a'}}</td>
    </ng-container>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td *ngIf="error" class="mat-cell no-data error" colspan="5">{{error}}</td>
      <td *ngIf="!isLoading && !error && filter.value" class="mat-cell no-data" colspan="5">No data matching the filter "{{filter.value}}"</td>
      <td *ngIf="!isLoading && !error && !filter.value" class="mat-cell no-data" colspan="5">No wallets exist</td>
    </tr>
  </table>
</div>

<div class="loading-shade"
     *ngIf="isLoading">
  <mat-spinner color="accent"></mat-spinner>
</div>

<div class="bottom-controls">
  <button mat-stroked-button color="accent"
          (click)="exporter.exportTable('csv', {fileName: 'wallets'})">
    Export Data
  </button>
  <mat-paginator color="accent" [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of wallets">
  </mat-paginator>
</div>
