<mat-toolbar color="primary" class="header">

  <div *ngIf="!decorative" class="left">
    <div class="menu">
      <button mat-icon-button (click)="toggleSidenav()" class="primary-color">
        <fa-icon aria-label="Menu" [icon]="menuIcon"></fa-icon>
      </button>
    </div>
  </div>

  <div class="title">
    <span class="title-logo">
      <img style="width: 24px; height: 29px" src="assets/xbit_white_teal.svg">
    </span>
    <span class="title-text">LN</span>
  </div>

  <div *ngIf="!decorative" class="right">
    <div class="mode">
      <button mat-icon-button (click)="toggleDarkmode()" class="primary-color">
        <fa-icon aria-label="Site style" [icon]="this.modeIcon"></fa-icon>
      </button>
    </div>
    <div class="account">
      <button mat-icon-button class="primary-color" [matMenuTriggerFor]="accountMenu">
        <fa-icon aria-label="Account" [icon]="userIcon"></fa-icon>
      </button>
      <mat-menu #accountMenu="matMenu" xPosition="before">
        <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
    </div>
  </div>

</mat-toolbar>
